/* Body style css */
body{
  overflow-y: scroll;
  background-color: rgb(243, 243, 233);
  font-family: Arial, Helvetica, sans-serif;
}
/* End of Body style css */

/* Header style css */
#header{
  float: left;
  width: 100%;
  top: 0;
  background-color: rgb(243, 243, 233);
}

.logo-position {
  float: left;
}

.header-right{
  position: absolute;
  top:8px;
  right:100px;
  display: inline-block;
}

#sign-in-up{
  display: inline-block;
}
/* End of Header style css */


span.subtitle {
  font-size: 20px;
  font-weight: 600;
}

.wrapper{
  width: 100%;
  float: left;  
}



/* Footer style css */
div.container_grid_for_footer {
  width: 100%;
  display: grid;
  grid-template-columns: auto;
  bottom: 0 !important;
  position: fixed;
}

div.footer_button {
  padding: 0 !important;
  margin-right: auto;
  margin-left: auto;
}

div.footer_button img {
  width: 60px;
}

div.footer_button a {
  padding: 20px !important;
}
/* End of Footer style css */

/* Navbar style css */
#menu{
  float: right;
  width: 100%;
}

.dropdown{
  width: auto;
}

.dropdown ul {
  list-style-type: none;
  overflow: hidden;
  background-color: rgb(212, 96, 42);
  margin-top:0px !important;
  box-shadow: 3px 6px 12px #888888;
}

.dropdown ul li {
  display: block;
  float: left;
}

.dropdown ul li button {
  font-size: 18px;
  font-family: arial;
  padding: 20px 20px !important;
  margin: 0px !important;
  transition: 0.3s;
  outline:none;
}

.dropdown ul li button:hover {
  background-color: rgba(201, 86, 33, 0.9) !important;
  color: #ffffff;
  font-size: 18px;
  font-family: arial;
  padding: 20px 20px !important;
  margin: 0px !important;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: rgb(212, 96, 42);
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(68, 68, 68, 0.2);
  z-index: 1;
}

.dropdown-content button {
  display: block;
  color: rgb(255, 255, 255);
  background-color: rgb(212, 96, 42);
  padding: 12px 16px;
  text-align: left;
  transition: 0.3s;
  outline:none;
}

.dropdown ul li:hover .dropdown-content {
  display: block;
}
/* End of Navbar style css */

/* Css for all a tags */
a {
  text-align: justify;
  text-decoration: none;
  font-weight: bold;
  color: #180083;
}

a:hover {
  text-decoration: underline;
}
/* End of css for all a tags */

/* Set a style for all buttons */
button {
  background-color: rgb(212, 96, 42);
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  cursor: pointer;
  width: 100%;
  outline:none;
}

button:hover {
  opacity: 0.95;
  outline:none;
}
/* End of set a style for all buttons */

/* This is the css for the login and the sign up modals */
/* Full-width input fields */
 input[type=text], input[type=password], input[type=email]{
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  box-sizing: border-box;
}
 
.container select {
  width: 100% !important;
  height: auto !important;
  padding: 12px 20px;
  margin: 8px 0;
  border: 1px solid #ccc;
  box-sizing: border-box;
}

/* Extra styles for the cancel button */
.cancelbtn {
  width: auto;
  padding: 10px 18px;
  background-color: #f44336;
}

/* Center the image and position the close button */
.imgcontainer {
  text-align: center;
  margin: 24px 0 12px 0;
  position: relative;
}

img.avatar {
  width: 40%;
  border-radius: 50%;
}

.container {
  padding: 16px;
}

span.psw {
  float: right;
  padding-top: 16px;
}

/* The Modal (background) */
.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
  padding-bottom: 50px;
}

/* Modal Content/Box */
.modal-content {
  background-color: #fefefe;
  margin: 5% auto 15% auto; /* 5% from the top, 15% from the bottom and centered */
  border: 1px solid #888;
  width: 30%; /* Could be more or less, depending on screen size */
}

/* The Close Button (x) */
.close {
  position: absolute;
  right: 25px;
  top: 0;
  color: #000;
  font-size: 35px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: red;
  cursor: pointer;
}

@-webkit-keyframes animatezoom {
  from {-webkit-transform: scale(0)} 
  to {-webkit-transform: scale(1)}
}
  
@keyframes animatezoom {
  from {transform: scale(0)} 
  to {transform: scale(1)}
}

/* Change styles for span and cancel button on extra small screens */
@media screen and (max-width: 300px) {
  span.psw {
     display: block;
     float: none;
  }
  .cancelbtn {
     width: 100%;
  }
}

/* End of css for modals */