/* Base css for the pages */

/* Logo */
.logopos {
	float: left;
}
/* End of Logo */

/* LAMPRINOS */
/* CSS for navigation bar */

ul {
  list-style-type: none;
  margin: 0;
  overflow: hidden;
  background-color: #cfcfcf;
}

li {
  float: left;
}

li:hover a {
	background-color: rgb(26, 26, 26);
	color: #fff;
}

li a, .dropbtn {
  display: block;
  color: rgb(0, 0, 0);
  text-align: center;
  text-shadow: #99948d;
  font-weight: bold;
  font-size: 18px;
  font-family: arial;
  padding: 14px 16px;
  text-decoration: none;
}

li a:hover, .dropdown:hover .dropbtn {
  background-color: rgb(26, 26, 26);
  color: #ffffff;
}

li.dropdown {
  display: block;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #353535;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(68, 68, 68, 0.2);
  z-index: 1;
}

.dropdown-content a {
  color: rgb(255, 255, 255);
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  text-align: left;
}

.dropdown-content a:hover {
  background-color: #686464;
}

.dropdown:hover .dropdown-content {
  display: block;
}


/* LEPIDAS */
/* Navigation Bar 
ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #333;
}

li {
  float: left;
}

li a, .drop-button {
  display: inline-block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

li a:hover, .dropdown:hover .drop-button {
  background-color: red;
}

li.dropdown {
  display: inline-block;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  text-align: left;
}

.dropdown-content a:hover {background-color: #f1f1f1}

.dropdown:hover .dropdown-content {
  display: block;
}*/
/* End of Navigation Bar */

/*CSS for persons' table*/

.personstable {
    position: relative;
    width: 70%;
    display: inline-block;
    border: 1px solid black;
}

.personstable tr td img {
    width: auto;
    height: auto;
}

.personstable tr td a img {
    width: 10%;
    height: 10%;
}

.personstable tr td {
    text-align: center;
    font-family: arial;
    font-size: 1em;
    font-weight: bold;
}

/* End of persons' table */

/*CSS for news' table*/

.newstable {
    position: relative;
    width: 20%;
    display: inline-block;
    border: 1px solid black;
}

.newstable tr th {
    font-family: arial;
    font-weight: bolder;
    font-size: 1.2em;
}

.newstable tr td {
    font-family: arial;
}

.newstable tr td p {
    text-align: justify;
}

.newstable tr td a {
    text-align: justify;
    text-decoration: none;
    font-weight: bold;
    color: #180083;
}

.newstable tr td a:hover {
    text-decoration: underline;
}

/* End of news' table */