ul.breadcrumb {
    list-style: none;
    width: 100%;
    float: left;
    font-size: 16px;
    font-weight: 550;
    padding: 0 0;
}

ul.breadcrumb li {
    display: inline;
}

ul.breadcrumb li+li:before {
    padding: 6px;
    color: black;
    content: ">\00a0";
}

ul.breadcrumb li a {
    color: #180083;
    text-decoration: none;
}

ul.breadcrumb li a:hover {
    color: #180083;
    text-decoration: underline;
}
