/* Communication form and search forms style css */
div.container_com_form {
    width: 100%;
    display:grid;
    grid-template-columns: auto auto auto;
    grid-template-rows: auto;
    color: #444;
    grid-template-areas: 
      ". a .";
}
  
div.container_com_form table {
    grid-area: a;
}

div.container_com_form table tbody tr td button {
    width: 88%;
}

div.container_com_form table tbody tr td select {
    width: 88% !important;
    height: auto !important;
    padding: 12px 20px;
    margin: 8px 0;
    border: 1px solid #ccc;
    box-sizing: border-box;
}
/* End of Communication form and search forms style css */