div.container_com_form {
    width: 100%;
    display:grid;
    grid-template-columns: auto auto auto;
    grid-template-rows: auto;
    color: #444;
    grid-template-areas: 
      ". a .";
}
  
div.container_com_form table {
    grid-area: a;
}

div.container_com_form table tbody tr td button {
    width: 88%;
}

div.container_com_form table tbody tr td select {
    width: 88%;
    height: 30px;
}