/* Columns */
#right-column {
	width: 15%;
	float: right;
}

#central-column {
  width: 85%;
	float: left;
}
  
#left-column {
	width: 25%;
	float: left;
}
/* End of Columns */  

/*CSS for news' table*/
#newstable {
  position: relative;
  width: 90%;
  display: inline-block;
  border: 3px solid rgb(212, 96, 42);
  border-radius: 1%;
  padding: 10px;
  box-shadow: 3px 6px 12px #888888;
}

#newstable tr th {
  font-family: arial;
  font-weight: bolder;
  font-size: 1.2em;
  padding-bottom: 21.3%;
}

#newstable tr td {
  font-family: arial;
}

#newstable tr td p {
  text-align: justify;
}

#newstable tr td a {
  text-align: justify;
  text-decoration: none;
  font-weight: bold;
  color: #180083;
}

#newstable tr td a:hover {
  text-decoration: underline;
}

.seemorenews {
  text-align: right;
}
/* End of news' table */

/* Persons grid */
div.container_grid {
  display:grid;
  grid-template-columns: auto auto;
  grid-template-rows: auto auto;
  grid-gap: 10px;
  color: #444;
  grid-template-areas: 
    ". a b ."
    ". c d .";
}

div.box {
  background-color: rgb(223, 115, 65);
  color: #fff;
  border-radius: 5px;
  padding: 50px;
  text-align: center;
}

div.box:hover {
  background-color: rgb(223, 88, 25);
  color: #fff;
  border-radius: 5px;
  padding: 50px;
}

div.student {
  grid-area: a !important; 

}

div.publisher {
  grid-area: b;
}

div.distributor {
  grid-area: c;
}

div.secretariat {
  grid-area: d;
}

div.box img {
  width: 30%;
}

div.box p {
  font-weight: bold;
}
/* End of Persons grid */