/*CSS for persons' table

#persons-table {
  width: auto;
  display: table;
  text-align: center;
}

#persons-table table tbody tr td img {
  padding: 10px;
}

#persons_img td img{
  width: auto;
  border-radius: 5%
}

#icons td a img{
	width: 25%;
}

#fonts td {
  padding: 0 0 50px 0;
  font-weight: bold;
  font-family: Arial;
}
*/

/*New CSS for person's divs*/
#persons-table {
  
}
/*End of New CSS for person's divs*/

/* End of persons' table */

/* Columns */
#right-column {
	width: 15%;
	float: right;
}

#central-column {
  width: 85%;
	float: left;
}
  
#left-column {
	width: 25%;
	float: left;
}
/* End of Columns */  

/*CSS for news' table*/
#newstable {
  position: relative;
  width: 90%;
  display: inline-block;
  border: 3px solid rgb(212, 96, 42);
  border-radius: 1%;
  padding: 10px;
  box-shadow: 3px 6px 12px #888888;
}

#newstable tr th {
  font-family: arial;
  font-weight: bolder;
  font-size: 1.2em;
  padding-bottom: 21.3%;
  word-break: break-all;
}

#newstable tr td {
  font-family: arial;
  word-break: break-all;
}

#newstable tr td p {
  text-align: justify;
}

#newstable tr td a {
  text-align: justify;
  text-decoration: none;
  font-weight: bold;
  color: #180083;
}

#newstable tr td a:hover {
  text-decoration: underline;
}

.seemorenews {
  text-align: right;
}
/* End of news' table */