/* Grid for profile template */
div.container_grid_profile {
    width: 100%;
    display: grid;
    grid-template-columns: auto;
    grid-template-areas: 
      ". a .";
}
  
div.user_profile {
    grid-area: a;
    background-color: rgb(199,199,199,0.685);
    color: rgb(0, 0, 0);
    border-radius: 5px;
    padding: 10px;
    width: 60%;
    margin-left: auto;
    margin-right: auto;
}

div.user_fields label {
    font-weight: bold;
    margin: 10%;
    color: #000;
    width: 50%;
}

div.user_fields_for_edit label {
    font-weight: bold;
    float: left;
    color: #000;
    width: 100%;
}

div.user_profile span {
    float: right;
    margin-right: 10%;
}

div.user_profile img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 10%;
    width: 25%;
}

div.user_fields_for_edit input[type=text], div.user_fields_for_edit input[type=password], div.user_fields_for_edit input[type=email]{
    width: 60%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    box-sizing: border-box;
  }
/* End of Grid for profile template */